* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    overflow: hidden; /* Hide scrollbar */
    background: linear-gradient(to right, #740021, #bd3246);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full page height */
}

.container {
    text-align: center;
}

.h1 {
    color: #fff;
    font-size: 3em;
    margin-bottom: 10px;
}

.p1 {
    color: #fff;
    font-size: 1.3em;
}

.admin-or-sub-sec {
    padding: 20px;
}

.container-admin {
    display: flex;
    margin-top: 50px; /* Adjust vertical alignment */
    justify-content: center;
    align-items: center;
    height: 300px; /* Adjust the height as needed */
}
.box {
    width: 280px;
    height: 280px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
    margin: 0 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.h11 {

    color: #fff;
}

.admin-login-button,
.sub-login-button {
    padding: 10px 20px;
    background-color: white; /* Button background color */
    border: 1px solid #740021;
    border-radius: 5px;
    cursor: pointer;
}

.admin-login-button:hover,
.sub-login-button:hover {
    background-image: linear-gradient(to right, #bd3246, #740021, #740021); /* Button background color on hover */
}
/* SA LOGIN TO*/

/* Your existing CSS */
.login-container {
    border: 2px solid #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    width: 400px;
    height: 500px;
    margin: auto;
    margin-top: 100px;
  }
  
  .login-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 25px;
    margin-top: 30px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-btn {
    width: 80%;
    padding: 10px;
    background-color: #ffffff;
    border: none;
    border: 1px solid #074324;
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  
  .login-btn:hover {
    background-image: linear-gradient(to right, #bd3246, #740021, #740021);
  }
  
  .login-options {
    text-align: center;
    margin-top: 50px;
  }
  
  .login-options .fa-google {
    color: #dd4b39;
  }
  
  .login-options a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #074324;
    transition: color 0.3s ease;
  }
  
  .login-options a:hover {
    color: #f78675;
  }
  /* Your existing CSS */
.signup-container {
    border: 2px solid #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    width: 400px;
    height: auto;
    margin: auto;
    margin-top: 100px;
  }
  
  .signup-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 25px;
    margin-top: 30px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .signup-btn {
    width: 80%;
    padding: 10px;
    background-color: #ffffff;
    border: none;
    border: 1px solid #740021;
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  
  .signup-btn:hover {
    background-image: linear-gradient(to right, #bd3246, #740021, #740021);
  }
  
  .signup-options {
    text-align: center;
    margin-top: 20px;
  }
  
  .signup-options a {
    text-decoration: none;
    color: #740021;
    transition: color 0.3s ease;
  }
  
  .signup-options a:hover {
    color: #bd3246;
  }
  
  
@media (max-width: 768px) {
    .container-admin {
        flex-direction: column;
    }
    
    .box {
        margin: 20px 0;
    }
}


